html {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.error{
	  display: table-cell;
	  vertical-align: middle;
}

.error h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
}